# Cloudflare R2 Configuration
VITE_R2_ACCOUNT_ID=7b5f27741f2d0212f06a36c75a4501e9
VITE_R2_ACCESS_KEY_ID=d11a138bb9f8c9337eb26d4514362b39
VITE_R2_SECRET_ACCESS_KEY=eeb6287e00ca6647c21f002eafa9587e10351a29b14daa45830801215f0d854a
VITE_R2_ENDPOINT=https://7b5f27741f2d0212f06a36c75a4501e9.r2.cloudflarestorage.com
VITE_R2_BUCKET_NAME=spotlog-photos

# Firebase Configuration (za kasnije)
# VITE_FIREBASE_API_KEY=
# VITE_FIREBASE_AUTH_DOMAIN=
# VITE_FIREBASE_PROJECT_ID=
# VITE_FIREBASE_STORAGE_BUCKET=
# VITE_FIREBASE_MESSAGING_SENDER_ID=
# VITE_FIREBASE_APP_ID=
